.game {
  display: flex;
  flex-direction: column;
}

.game-status {
  margin-bottom: 10px;
}

.game-info {
  margin-top: 8px;
}

.game-reset {
  padding: 5px 12px;
  border: 1px solid #000;
  border-radius: 4px;
  background: #999
}

.game-reset:hover {
  background: rgb(233, 101, 101);
}

.game-transition {
  margin-top: 16px;
}