.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:hover {
  background: rgb(161, 155, 155);
}

.square:focus {
  outline: none;
}

.square--winning {
  background: rgb(196, 185, 39)
}

.square--winning-rotate {
  transition: all 1s ease;
  transform: rotate(180deg);
}

.square--winning-translate {
  transition: all 1s ease;
  transform: translate(-4px, -4px);
}

.square--winning-scale {
  transition: all 1s ease;
  transform: scale(1.25);
}

.kbd-navigation .square:focus {
  background: #ddd;
}